JWT_SECRET=""
JWT_REFRESH_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL=""

REDIS_HOST=""
REDIS_PORT=
# REDIS_PASSWORD=

POSTGRES_HOST=""
POSTGRES_PORT=
POSTGRES_USERNAME=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

RESEND_API_KEY=

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

UPSTASH_REDIS_HOST=""
UPSTASH_REDIS_PORT=""
UPSTASH_REDIS_USERNAME=""
UPSTASH_REDIS_PASSWORD=""

VITE_MEMBER_API_URL=http://localhost:3000/api
VITE_PROBLEM_API_URL=http://localhost:4000/api

TEMPLATES_PATH_ROOT=""
NODE_ENV=""